@import 'tailwindcss';

/* ::selection {
  @apply bg-transparent text-white;
} */


/* Preline UI */
@import "../../node_modules/preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-condensed: "Bebas Neue", sans-serif;
  --font-dashboard: "Inter", sans-serif;
  --font-mono: "Geist Mono", monospace;

  --color-zinc-50: #fafafa;
  --color-zinc-100: #f5f5f5;
  --color-zinc-200: #e5e5e5;
  --color-zinc-300: #d4d4d4;
  --color-zinc-400: #a3a3a3;
  --color-zinc-500: #737373;
  --color-zinc-600: #525252;
  --color-zinc-700: #404040;
  --color-zinc-800: #262626;
  --color-zinc-900: #171717;
  --color-zinc-950: #0a0a0a;

  --color-dashboard: #000000;
  --color-dim: #161616;
  --color-trade: #2D3139;
  --color-trade-badge: #3F4550;
  --color-asset-indicator: #2C303A;
  --color-input-border: #2A2B39;
  --color-navbar: #2C303A;
  --color-accent: #40FFDD;
  --color-verified: #85FDF8;
  --color-buy-green: #35a947;
  --color-accent-hover: #2E2EB2;
  --color-accent-content: var(--color-neutral-800);
  --color-accent-foreground: var(--color-white);
}

@layer theme {
  .dark {
    --color-accent: var(--color-white);
    --color-accent-content: var(--color-white);
    --color-accent-foreground: var(--color-neutral-800);
  }
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

[data-flux-field]:not(ui-radio) {
  @apply grid gap-2;
}

[data-flux-label] {
  @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
  @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

.hero-banner {
  background: url('../../public/assets/images/banner-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-hero-banner {
  background: url('../../public/assets/images/about-us-hero-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-trades-per-day-background {
  background: url('../../public/assets/images/about-us-trades-per-day-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.break-words {
  overflow-wrap: break-word;
}

@keyframes pulse-bg {
  0% {
    background-color: #3D4351;
  }

  50% {
    background-color: #4F5669;
  }

  100% {
    background-color: #606980;
  }
}

.animate-pulse-bg {
  animation: pulse-bg 2s infinite;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
